@media (max-width: 980px) {
    .logo {
        flex-grow: 1;
    }
    .menu-icon {
        display: block;
    }
    .modal {
        display: none;
    }
    .first-recomend-good,
    .rest-recomend-good-item {
        background: none;
    }
    .rest-recomend-goods {
        width: 49%;
    }
    .rest-recomend-good-item {
        width: 50%;
    }
    .rest-recomend-good-item img {
        max-width: 94%;
    }
    .first-recomend-good img:hover {
        opacity: 1;
    }
    .rest-recomend-good-item img:hover {
        opacity: 1;
    }
}

@media (max-width: 720px) {
    .main-image_small-items_pic {
        width: 50px;
        height: 70px;
    }
    .main-information_add {
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .footer-inner {
        flex-wrap: wrap;
    }
}

@media (max-width: 640px) {
    .main-content {
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .main-image {
        width: 100%;
    }
    .main-image_small-items_pic {
        width: 70px;
        height: 91px;
    }
    .main-information {
        width: 100%;
        padding: 0 30px;
    }
    .first-recomend-good {
        width: 100%;
        margin-bottom: 2%;
    }
    .rest-recomend-goods {
        width: 100%;
    }
    .rest-recomend-good-item {
        width: 49%;
        margin-bottom: 2%;
    }
    .rest-recomend-good-item img {
        max-width: 100%;
    }
}

@media (max-width: 375px) {
    .main-image_small-items_pic {
        width: 50px;
        height: 70px;
    }
}